

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fredoka+One&display=swap');


body {
    background-image: url(images/pastabg.jpg)
}
.clear, .group{display:block;}
.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
.clear, .clear::after, .group, .group::after{clear:both;}

a{outline:none; text-decoration:none;}


/*workshops*/

.workshopSection {
    background-color: lightyellow;
    opacity: 60%;
      width: 100%;
  height: 350px;
  display:block;
  position:relative;
}

.workshopSection a {
    color: white;
}


.workshopSection a:hover {
  background-color: gold;
  color: black;
}

.workshopSection.active {
  background-color: white;
  color: white;
}
/* Header/Blog Title */
.header {
    padding-top: 5px;
  font-size: 100%;
  text-align: center;
color: darkred;

}




.workshop {
    background-color: black;
    display:inline-block; 
    float: left; 
    margin:4.5%;
    margin-right: 5%;;
    list-style:none; 
    box-sizing:border-box;
    font-size: 90%;
padding: 5%;
color: white;

}






/*Lectures*/

.lectures {
    background-color: brown;
    display: inline-block;
    margin-left: 42%;  
    text-align: center;
    float: none; 
    margin-bottom: 2%;
    list-style:none; 
    box-sizing:border-box;
padding: 4.4%;
color: white;
border-radius: 25%;}


.guest {

}


/*** effect rotate-scale ***/

.img-rotate-scale
{
transition:all 5.2s ease-in-out;
-webkit-transition:all 1.2s ease-in-out;
-moz-transition:all 1.2s ease-in-out;
-ms-transition:all 1.2s ease-in-out;
-o-transition:all 1.2s ease-in-out;
        width: 35%;
    float: none;
    margin-left: 35%;
}

.img-rotate-scale:hover
{
transform:rotate(720deg) scale(2,2);
-webkit-transform:rotate(720deg) scale(2,2);
-moz-transform:rotate(720deg) scale(2,2);
-ms-transform:rotate(720deg) scale(2,2);
-o-transform:rotate(720deg) scale(2,2);
}




/* Fonts
--------------------------------------------------------------------------------------------------------------- */
body{font-family: 'Balsamiq Sans', cursive;}





#topbar, #intro{display:block; margin:0 auto;}




/* Grid
--------------------------------------------------------------------------------------------------------------- */
.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{
    display:inline-block; 
    float:left; 
    margin: 2.5%;
    margin-right: 18%;
    list-style:none; 
    box-sizing:border-box;
padding: 1%;}





/* Header
--------------------------------------------------------------------------------------------------------------- 

#header {margin:10px 10px 10px 45px;
  border-radius: 50px 20px;}
#header {
    text-align: center;
  
    padding: 80px;
    background-image: url(images/tomatosss.jpg);
}
#header h1{
    margin:0; 
    font-size:80px; 
    color: gold; 
  font-family: 'Fredoka One', cursive;}*/

#header {margin:10%;;
  border-radius: 50px 20px;}
#header {
    text-align: center;
  
    padding: 8%;
        margin-top: 2%;
    margin-bottom: 5%;
    background-image: url(images/tomatosss.jpg);
}
#header h1{
    margin:0; 
    font-size: 500%; 
    color: gold; 
  font-family: 'Fredoka One', cursive;}*/


/* Intro
--------------------------------------------------------------------------------------------------------------- */
#intro{padding:20px 0;}

#intro article{text-align:center; opacity:.5;}
#intro article:hover{opacity:1;}
#intro article *{display:block; width:100%; margin:0; padding:0; box-sizing:border-box;}
#intro article .heading{padding:30px 25px; font-size: 15px;}
#intro article ul{padding:20px 15px; font-style:italic;}
#intro article ul li{padding:12px 0;}
#intro article .link a{padding:20px 0; text-transform:uppercase; font-weight:bold;}




/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#888888; background-color:#111111;}


.btn{border-color:#8ABA56;}
.btn:hover{color:#FFFFFF; background-color:#8ABA56;}




/* Intro */
#intro article .heading{color:#292929; background-color:#F3F3F3; font-size: 88%;
margin-top: 10%;}

#intro article ul{color:#888888; background-color:#FFFFFF;}

#intro article .link a{color:#FFFFFF; background-color:brown; margin-bottom: 15%; font-size: 88%;}


.one_third {
    float:left;
    width: 29%;
}

/* navbar */

.topnav {
  overflow: hidden;
  background-color: darkred;
    opacity: 75%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: crimson;
  color: white;
}



/* dropdown list workshop arduino */
.dropdown {
  position: relative;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 80px;
  margin-left: 50%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .workshop {background-color: darkred;}








/* Must be after 180 => 900 - do not include in previous statements with the same parameters */
@media screen and (min-width:180px) and (max-width:750px) {
	#latestposts li figure, #latestposts li article{margin:0;}
	#latestposts li figure{float:left; margin-right:20px;}
}
/* Must be after 180 => 900 - do not include in previous statements with the same parameters */
@media screen and (min-width:180px) and (max-width:500px) {
	#latestposts li figure{float:none; margin:0 0 20px 0;}
}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px) {
	#topbar, #header, #intro, #breadcrumb, .container, #cta, #footer, #copyright{max-width:978px;}
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px) {
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}
}